In [17]:
# Dependencies and Setup
from pathlib import Path
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.
school_data_complete = pd.merge(student_data, school_data, how="left", on="school_name")

In [18]:
school_data_complete

,Student ID,student_name,gender,year,school_name,reading_score,maths_score,School ID,type,size,budget
0,0,Paul Bradley,M,9,Huang High School,96,94,0,Government,2917,1910635
1,1,Victor Smith,M,12,Huang High School,90,43,0,Government,2917,1910635
2,2,Kevin Rodriguez,M,12,Huang High School,41,76,0,Government,2917,1910635
3,3,Richard Scott,M,12,Huang High School,89,86,0,Government,2917,1910635
4,4,Bonnie Ray,F,9,Huang High School,87,69,0,Government,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12,Thomas High School,51,48,14,Independent,1635,1043130
39166,39166,Dawn Bell,F,10,Thomas High School,81,89,14,Independent,1635,1043130
39167,39167,Rebecca Tanner,F,9,Thomas High School,99,99,14,Independent,1635,1043130
39168,39168,Desiree Kidd,F,10,Thomas High School,72,77,14,Independent,1635,1043130
39169,39169,Carolyn Jackson,F,11,Thomas High School,47,62,14,Independent,1635,1043130

In [19]:
# Local Government Area (LGA) Summary
# unique schools count
school_count = school_data_complete['school_name'].nunique()
print(school_count)

15

In [98]:
# students count
student_count = school_data_complete['student_name'].count()
print(student_count)

39170

In [81]:
# calc total budget
schools_budget = school_data_complete.drop_duplicates(subset='school_name').reset_index(drop=True)['budget'].sum()

In [82]:
school_budgets

24649428

In [87]:
average_maths_score = school_data_complete['maths_score'].mean()

In [88]:
average_maths_score

70.33819249425581

In [89]:
average_reading_score = school_data_complete['reading_score'].mean()

In [90]:
average_reading_score

69.98013786060761

In [96]:
passing_maths

33717

In [104]:
passing_maths_count = school_data_complete[(school_data_complete["maths_score"] >= 50)].count()["student_name"]
passing_maths_percentage = passing_maths_count / float(student_count) * 100

In [108]:
print(passing_maths_count)
print(passing_maths_percentage)

33717
86.07863160582077

In [106]:
passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 50)].count()["student_name"]
passing_reading_percentage = passing_reading_count/ float(student_count) * 100

In [109]:
print(passing_reading_count)
print(passing_reading_percentage)

33070
84.42685728874139

In [121]:
students_passing_math = school_data_complete[(school_data_complete["maths_score"] >= 50)]
students_passing_reading = school_data_complete[(school_data_complete["reading_score"] >= 50)]
intersection_count = pd.merge(students_passing_math, students_passing_reading, how='inner').count()["student_name"]

In [122]:
intersection_count

28519

In [123]:
# percentage pf students passing both reading & math
overall_passing_percentage = intersection_count/ float(student_count) * 100

In [125]:
overall_passing_percentage

72.80827163645647

In [ ]:
# School Summary

In [154]:
# Use the code provided to select the type per school from school_data
school_types = school_data.set_index(["school_name"])["type"]

# Calculate the total student count per school from school_data
per_school_counts = student_data.groupby(["school_name"]).size().reset_index(name='Student Count')

# Calculate the total school budget and per capita spending per school from school_data
per_school_budget = school_data.set_index(["school_name"])["budget"]
#per_school_capita =

# Calculate the average test scores per school from school_data_complete
#per_school_maths =
#per_school_reading =

In [155]:
school_types

school_name
Huang High School         Government
Figueroa High School      Government
Shelton High School      Independent
Hernandez High School     Government
Griffin High School      Independent
Wilson High School       Independent
Cabrera High School      Independent
Bailey High School        Government
Holden High School       Independent
Pena High School         Independent
Wright High School       Independent
Rodriguez High School     Government
Johnson High School       Government
Ford High School          Government
Thomas High School       Independent
Name: type, dtype: object

In [156]:
per_school_counts

              school_name  Student Count
0      Bailey High School           4976
1     Cabrera High School           1858
2    Figueroa High School           2949
3        Ford High School           2739
4     Griffin High School           1468
5   Hernandez High School           4635
6      Holden High School            427
7       Huang High School           2917
8     Johnson High School           4761
9        Pena High School            962
10  Rodriguez High School           3999
11    Shelton High School           1761
12     Thomas High School           1635
13     Wilson High School           2283
14     Wright High School           1800

In [157]:
per_school_budget

school_name
Huang High School        1910635
Figueroa High School     1884411
Shelton High School      1056600
Hernandez High School    3022020
Griffin High School       917500
Wilson High School       1319574
Cabrera High School      1081356
Bailey High School       3124928
Holden High School        248087
Pena High School          585858
Wright High School       1049400
Rodriguez High School    2547363
Johnson High School      3094650
Ford High School         1763916
Thomas High School       1043130
Name: budget, dtype: int64